        body{
            overflow-x: hidden;
        }
        li{
            font-size: 30px;
        }
        .bodi{
            border:2px solid rgb(80, 80, 76);
            border-radius: 25px;
            background: rgb(205, 206, 205);
            width: 960px;
            margin: auto;
            margin-top: 5%;
            display: none;
        }
        .question{
            text-align: center;
            font-size: 25px;
            padding: 5px;
            border: 2px solid rgb(154, 159, 151);
            border-radius: 25px;
            background: rgb(168, 170, 162);
            width: 450px;
            margin: auto;
            margin-bottom: 6px;
        }
        .choice{
            margin-left: 30%;
        }
        .next{
            padding: 8px;
            border: 1px solid rgb(5, 215, 223);
            background: rgb(255, 255, 255);
            border-radius: 12px;
            margin-left: 19%;
        }
        .prev{
            border: 1px solid rgb(5, 215, 223);
            padding: 8px;
            background: rgb(255, 255, 255);
            border-radius: 12px;
        }
        .reload{
            border: 1px solid rgb(5, 215, 223);
            padding: 8px;
            background: rgb(255, 255, 255);
            border-radius: 12px;
            margin-left: 17%;
        }
        .butover{
            border: 1px solid rgb(5, 215, 223);
            padding: 8px;
            background: rgb(255, 255, 255);
            border-radius: 12px;
            margin-left: 42%;
        }
        .next:hover{
            padding: 10px;
            border: 2px solid rgb(7, 181, 187);
            cursor: pointer;
        }
        .prev:hover{
            padding: 10px;
            border: 2px solid rgb(7, 181, 187);
            cursor: pointer;
        }
        .reload:hover{
            padding: 10px;
            border: 2px solid rgb(7, 181, 187);
        }
        .butover:hover{
            padding: 10px;
            border: 2px solid rgb(7, 181, 187); 
            cursor: pointer;
        }
        .buttn{
            margin-left: 35%;
            margin-bottom: 2%;
        }
        .massage{
            text-align: center;
        }
        .text{
            margin-left: 41%;
            margin-top: 2%;
        }
        .cheragh{
            padding: 1px 9px;
            margin: 2px;
            border-radius: 50%;
        }
        .cheragh-org{
            margin-left: 275px;
        }
        .cheraghover{
            margin-left:30%;
        }
        .alert{
            position: absolute;
            border-radius: 25px;
            background: rgb(232, 232, 232);
            color: black;
            width: 450px;
            margin: 150px 10% 0px 31%;
            z-index: 2;
        }
        .matnsathsoal{
            text-align: center;
            margin-top: 13px;
            font-size: 18px;
            text-decoration: underline;
        }
        .sath{
            margin: 39px 12px 40px 100px;
        }
        .inp{
            margin: 0px 0px 0px 30px;
            cursor: pointer;
        }
        .aply{
            margin: 25px 0px 25px 195px;
            padding: 8px 15px 8px 15px;
            background: rgb(199, 191, 191);
            border-radius: 8px;
            cursor: pointer;
        }
        .aply:hover{
            border-radius: 12px;
            background: rgb(177, 171, 171);
        }
        .ti{
            text-align: center;
        }
        .queezover{
            border: 2px dashed black;
            margin: 21% auto auto auto;
            width: 600px;
            background: rgb(238, 239, 239);
            border-radius: 12px;
            display: none;
        }
        .matnqueezover{
            text-align: center;
            font-size: 19px;
            margin: 12px;
        }
        .scor{
            text-align: center;
        }
        .tim{
            text-align: center;
        }
        .charkhesh{
            -moz-transition: all 0.8s ease-in-out;
            -webkit-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
        }
        .charkhesh:hover{
            -moz-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            transform: rotate(30deg);
        }
        .charkhesh_matn{
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .charkhesh_matn:hover{
            -moz-transform: rotate(2deg);
            -webkit-transform: rotate(2deg);
            -o-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        }
        @media(max-width : 560px){
            .bodi{
                border:2px solid yellow;
                border-radius: 25px;
                background: yellowgreen;
                margin-top: 5%;
                width: 305px;
            }
            .question{
                text-align: center;
                border: 2px solid rgb(178, 235, 126);
                border-radius: 25px;
                background: greenyellow;
                width: 290px;
            }
            .choice{
                margin-left: 8%;
            }
            .buttn{
                margin-left: 16%;
            }
            .queezover{
                width: 300px;
            }
            .butover{
                margin-left: 35%;
            }
            .alert{
                width: 255px;
                margin: 150px 10% 0px 9%;
            }
            .sath{
                margin: 39px 2px 40px 7px;
            }
            .aply{
                margin: 25px 0px 25px 90px;
            }
            .cheragh-org{
                margin-left: 10px;
            }
            .cheraghover{
                margin-left: 12%;
            }
        }
